.input{
	display: flex;
	flex-direction: column;
	color: white;
	font-size: 20px;

	padding: 0 20px 20px 20px;

	& input{
		width: 300px;
		height: 34px;
		padding: 0 5px;
		font-size: 20px;
		border-radius: 2px;

		&:focus{
			box-shadow: 1px 1px 5px rgba(142, 215, 16, 0.85);
		}
	}


	& label {
		padding: 10px 0;
	}
}